<!DOCTYPE html>
<html>
  <head>
    <title>AccountAbel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'AccountAbel/index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
